<%- include('menu') -%>
<title>Bejelentkezés</title>
<div class="container main-content">
    <form class="card"  id="cardpad" action="/" method="post" name="fiok">
        <div class="card-body-sm">
        <table>
            <tr><th>Bejelentkezés</th></tr>
            <tr><td>E-mail:<input class="form-control" type="text" name="email" /></td></tr>
            <tr><td>Jelszó:<input class="form-control" type="password" name="jelszo" /></td></tr>
            <tr><td><a class="alert-link" href="newpasswd.html">Elfelejtettem a jelszavam</a></td></tr>
        </table>
        </div>
        <div class="card-footer-sm">
            <input class="btn btn-primary" type="submit" name="be" value="Bejelentkezés" style="margin-top:5px;" />
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</div>
</body>
<%- include('footer') -%>
</html>
