.main-content {
	margin-top:2em;
}

.footer-content {
	margin-bottom:4em;
}

#textl {width:14%; text-align:left;  } 

#textr {width:14%; text-align:right;  } 

#stextl {width:10%; text-align:left;}

#stextr {width:10%; text-align:right;}

#mid 
{ text-align:center; }

#lft
{ text-align:left;}

#rgt
{ text-align:right;}


#bordbfs {
	border-left:2px groove; 
	border-bottom:3px solid #000000;
	border-top:2px groove;
}

#bordth {
	border-top:2px groove;
	border-bottom:3px solid #000000;
}

#bordjfs {
	border-right:2px groove;
	border-top:2px groove;
	border-bottom:3px solid #000000;
}

#bordjas{
	border-bottom:2px solid #000000; 
	border-right:2px groove;
}

#bordbas{
	border-bottom:2px solid #000000; 
	border-left:2px groove;
}

#bordbsz {
	border-left:2px groove;
}

#bordjsz {
	border-right:2px groove;
}

#borda{
	border-bottom:2px solid #000000;
}

#bordf{
	border-bottom:2px groove;
}

#margo {
	margin:30px;
}


#cardpad {
	padding-bottom:2em;
	padding-top:2em;
	padding-left:2em;
}

#50 {
	width:50%;
}

#leftpad {
	padding-left:50px;
}

